<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wang.franch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.AppBase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Franch"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.ActivityLogin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ActivityMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityChangePass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityImageView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityImageCrop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityBoughtRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityReceiveRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityDeliverRecord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityDeliverGoods"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityWeb"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityFormInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActivityAmountSetting"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>